---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thad Krugman | Full Stack Software Enginner & Tech Enthusiast">
  <main class="fade-in py-24 sm:py-32 eb-garamond text-base-content">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h1 class="text-5xl font-semibold sm:text-8xl">About</h1>
        <p class="mt-6 text-xl leading-8">
          As a passionate and dedicated software engineer, I have spent the last
          three years honing my skills and expertise in crafting exceptional web
          and mobile applications. My journey in the world of technology began
          with a deep love for programming and a desire to create innovative
          solutions that make a positive impact on people's lives.
        </p>

        <h2 class="text-3xl sm:text-4xl mt-12 font-semibold">
          Education and Achievements
        </h2>
        <p class="mt-3 text-xl leading-8">
          I hold three degrees related to software, mobile, and web development,
          a testament to my commitment to learning and growth in this
          ever-evolving field. During my academic journey, I was honored to
          receive the Outstanding Student Award for two of my three degrees,
          recognizing my dedication, hard work, and academic excellence.
          Graduating with honors was a proud moment, reflecting my passion for
          technology and my drive to excel.
        </p>

        <h2 class="text-3xl sm:text-4xl mt-12 font-semibold">
          Professional Expertise
        </h2>
        <p class="mt-3 text-xl leading-8">
          As a full stack software engineer, I have a strong command of various
          technologies and frameworks, particularly in the TypeScript ecosystem.
          From React and React Native to cutting-edge solutions like Astro,
          Solid, Svelte, and Bun, I am always eager to explore and leverage the
          latest tools to deliver powerful, efficient, and user-friendly
          experiences.
        </p>

        <h2 class="text-3xl sm:text-4xl mt-12 font-semibold">
          Continuous Learning and Growth
        </h2>
        <p class="mt-3 text-xl leading-8">
          Driven by an insatiable curiosity, I am constantly expanding my
          knowledge and venturing into new areas of technology. Recently, I have
          been delving into the realm of low-level programming languages, such
          as Zig and Rust, to gain a comprehensive understanding of system-level
          development. I believe that continuous learning is the key to staying
          at the forefront of the ever-changing tech landscape.
        </p>

        <h2 class="text-3xl sm:text-4xl mt-12 font-semibold">
          Personal Life and Values
        </h2>
        <p class="mt-3 text-xl leading-8">
          Beyond my professional pursuits, I am a proud father of two. I am
          incredibly grateful to have such a loving and supportive family, which
          I consider one of my life's greatest blessings. Maintaining a healthy
          work-life balance is also a priority for me, as I believe it is
          essential for overall well-being and happiness.
        </p>

        <h2 class="text-3xl sm:text-4xl mt-12 font-semibold">
          Personal Interests
        </h2>
        <p class="mt-3 text-xl leading-8">
          When I'm not immersed in coding and technology, I enjoy a diverse
          range of activities. I love spending time outdoors, exploring nature
          and staying active. Gaming with friends and family is another favorite
          pastime, as it combines my love for technology with the joy of social
          connection. As an avid mechanical keyboard enthusiast, I take pleasure
          in building custom keyboards, merging my technical skills with my
          appreciation for craftsmanship. Of course, my passion for technology
          and programming extends beyond work, and I often find myself tinkering
          with side projects or learning new techniques in my free time. When
          it's time to unwind, I enjoy watching TV and discovering new series
          and films.
        </p>

        <h2 class="text-3xl sm:text-4xl mt-12 font-semibold">
          Let's Collaborate!
        </h2>
        <p class="mt-3 text-xl leading-8">
          If you're looking for a passionate collaborator who stays at the
          cutting edge of technology and is dedicated to delivering exceptional
          results, I would love to connect with you. Together, we can create
          something truly remarkable and push the boundaries of what's possible
          in the digital world.
        </p>
        <p class="mt-6 text-xl leading-8">
          Feel free to explore my portfolio, blog, and contact pages to learn
          more about my work and how we can collaborate on your next project.
        </p>
      </div>
    </div>
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const fadeInElements = document.querySelectorAll(".fade-in");
    fadeInElements.forEach((element) => {
      if (element instanceof HTMLElement) {
        element.classList.add("show");
      }
    });
  });
</script>

<style>
  .fade-in {
    opacity: 0;
    transition: opacity 1.5s;
  }

  .fade-in.show {
    opacity: 1;
  }
</style>
