---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Thad Krugman | Insightful Blog on Software Development & Emerging Tech"
>
  <main>
    <Hero />
  </main>
</Layout>

<style></style>
