---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Thad Krugman | Web & App Developer">
  <main>
    <Hero />
  </main>
</Layout>

<style></style>
