---
const navItems = [
  { name: "About", href: "/about" },
  { name: "Portfolio", href: "/portfolio" },
  { name: "Blog", href: "/blog" },
  { name: "Contact", href: "/contact" },
];
---

<header class="fade-in">
  <nav
    class="mx-auto flex max-w-6xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <a href="/" class="text-3xl font-semibold hover:opacity-80">; )</a>

    <div class="flex md:hidden">
      <button type="button" class="" id="openDrawerBtn">
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-8 w-8 text-base-content"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.8"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>

    <div class="hidden md:flex md:gap-x-8">
      {
        navItems.map((item) => (
          <a
            class="text-xl font-semibold text-base-content hover:opacity-80"
            href={item.href}
          >
            {item.name}
          </a>
        ))
      }
    </div>
  </nav>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <div
    class="bg-base-100 md:hidden fixed inset-y-0 right-0 z-10 w-full overflow-y-auto px-6 py-6 transform transition-transform duration-300 ease-in-out translate-x-full"
    role="dialog"
    aria-modal="true"
    id="drawer"
  >
    <div class="flex items-center justify-between">
      <a href="/" class="text-3xl font-semibold">; )</a>
      <button
        type="button"
        class="h-8 w-8 text-base-content"
        id="closeDrawerBtn"
      >
        <span class="sr-only">Close menu</span>
        <svg
          class="h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.8"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div class="flex flex-col space-y-5 py-8">
      {
        navItems.map((item) => (
          <a class="text-xl font-semibold" href={item.href}>
            {item.name}
          </a>
        ))
      }
    </div>
  </div>
</header>

<script>
  const drawer = document.getElementById("drawer");
  const openDrawerBtn = document.getElementById("openDrawerBtn");
  const closeDrawerBtn = document.getElementById("closeDrawerBtn");

  openDrawerBtn.addEventListener("click", () => {
    drawer.classList.remove("translate-x-full");
  });

  closeDrawerBtn.addEventListener("click", () => {
    drawer.classList.add("translate-x-full");
  });
</script>
