<div
  class="w-full py-5 px-6 lg:px-8 max-w-7xl mx-auto flex flex-col sm:flex-row justify-between items-start md:items-center"
>
  <span
    class="eb-garamond text-4xl font-semibold hover:opacity-80 hidden md:flex"
    ><a href="/">Thad Krugman</a></span
  >
  <nav class="w-full md:w-auto">
    <ul
      class="flex flex-row justify-between w-full md:w-auto md:space-x-5 font-semibold eb-garamond text-lg sm:text-xl"
    >
      <li class="hover:opacity-80"><a href="/">Home</a></li>
      <li class="hover:opacity-80"><a href="/about">About</a></li>
      <li class="hover:opacity-80"><a href="/portfolio">Portfolio</a></li>
      <li class="hover:opacity-80"><a href="/blog">Blog</a></li>
      <li class="hover:opacity-80"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
