---
import "@fontsource-variable/eb-garamond";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  showNavbar?: boolean;
}

const { title, showNavbar = true } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dracula">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    {showNavbar && <Navbar />}
    <slot />
  </body>
</html>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      }
    });
  });

  const fadeInElements = document.querySelectorAll(".fade-in");

  fadeInElements.forEach((element) => {
    observer.observe(element);
  });
</script>

<style is:global>
  html {
    font-family: "EB Garamond Variable", serif;
  }

  .btn {
    @apply py-3.5 min-h-fit h-auto px-6 text-[9px] sm:text-[11px] font-semibold rounded-sm hover:opacity-80;
  }

  .btn-primary {
    @apply hover:bg-primary;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1.5s;
  }

  .fade-in.show {
    opacity: 1;
  }
</style>
